<template>
    <div class ="chat container">


<h2 class ="light-blue-text">THE DEADNUTS CHATBOX... <a class="btn-floating btn-large cyan pulse"><i class="material-icons">chat</i></a> </h2>
<div class ="card">

<div class ="card-content">

<ul class ="messages" v-chat-scroll>
<li v-for="message in messages" :key="message.id">
<span class ="teal-text name">{{ message.name }} :</span>
<span class="black-text text-darken-2">{{ message.content }}</span>
<span class="grey-text time">{{ message.timestamp }}</span>

</li>
</ul>
</div>
<div class ="card-action">
<newMessage :name="name" />
    
        </div>
            </div>
                </div>
</template>

<script>

import newMessage from '@/components/newMessage'    
import db from '@/firebase/init'
import moment from 'moment'


export default {
  name: 'chat',
  props : ['name'],
    components : {
        newMessage
    },
  data(){
      return{
            messages : []
      }
  },

  created(){

let ref = db.collection('messages').orderBy('timestamp') 

ref.onSnapshot(snapshot =>{

    snapshot.docChanges().forEach(change =>{
        if(change.type == 'added'){
            let doc= change.doc
            this.messages.push({
                id : doc.id,
                name :doc.data().name,
                content : doc.data().content,
                timestamp : moment(doc.data().timestamp).format('lll')
            })
        }
    })
})
  }
}
</script>


<style>
.chat h2{
    font-size: 2.6em;
    margin-bottom :40px;
    font-family:cursive;
    margin-left : 100px;
}
.chat span{
    font-size : 1.7em;
}
.chat .name{
    font-size: 1.9em;
    text-transform: capitalize;
}


.chat .time{
    display :block;
    font-size: 0.9em;
}

.messages{
    max-height : 300px;
    overflow :auto;
}

.messages::-webkit-scrollbar-track{
    background: #dddd;
}

.messages::-webkit-scrollbar-thumb{
    background: #aaa;
}


</style>
