<template>
    <div class ="new-message">
    <form @submit.prevent = "addMessage">
    <label for ="new-message">start the conversation  :</label>
<br>

    <input type ="text" name = "new-message" v-model="newMessage" placeholder="enter text here">
    <p class ="red-text" v-if ="feedback">{{feedback}}</p>
    </form>
</div>
</template>

<script>
import db from '@/firebase/init'

export default {
  name: 'newMessage',
  props : ['name'],

  data(){
      return{
          newMessage : null,
           feedback : null 
      }
  },

    methods : {
        addMessage(){
if(this.newMessage){

db.collection('messages').add({
    content : this.newMessage,
    name : this.name,
    timestamp : Date.now()
}).catch(err => {
    console.log(error)
})
this.newMessage = null
this.feedback = null

}
else{
    this.feedback = "you must enter some value of it"
}

        }
    }
}
</script>

<style>

</style>

