<template>

<div class = "welcome container ">
<div class ="card ">
<div class ="card-content center-align">
<h2 class ="blue-text text-darken-2">welcome <a class="btn-floating btn-large cyan pulse"><i class="material-icons">edit</i></a>
</h2>
<form @submit.prevent ="enterChat">
<label for ="name">Enter your name  : </label>
<input type ="text" name ="name" v-model = "name">
<p v-if="feedback" class ="red-text">{{feedback}}</p>
<button class ="btn black">Start chat</button>
</form>
</div>
</div>
</div>

</template>

<script>
export default {
  name: 'welcome',
  data () {
    return {
      name : null,
      feedback : null
    }
  },

methods : {

enterChat(){
  
    if(this.name){
      this.$router.push({name : 'chat', params : {name : this.name}})

    }
    else{
      this.feedback = "please enter the feedback"
    }

}

}

}
</script>

<style>

.btn{
  margin-top: 30px;
}

h2{
  font-family:'Times New Roman', Times, serif;
}
button{
  font-family:cursive;
}

</style>
